{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>    
    <script src="https://kit.fontawesome.com/581e5b9e69.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 
    
    <link rel="stylesheet" href="{% static 'css/sigpage2.css' %}">
  </head>
  <style>
    .alert {
        width: 100%;
        padding: 12px 16px;
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
        margin-bottom: 12px;
        font-size: 16px;
      }
      
      .alert.alert-success {
        background-color: rgba(227, 253, 235, 1);
        border-color: rgba(38, 179, 3, 1);
        color: rgba(60, 118, 61, 1);
      }
      
      .alert.alert-info {
        background-color: rgba(217, 237, 247, 1);
        color: rgba(49, 112, 143, 1);
        border-color: rgba(126, 182, 193, 1);
      }
      
      
      .alert.alert-warning {
        background-color: rgba(252, 248, 227, 1);
        border-color: rgba(177, 161, 129, 1);
        color: rgba(138, 109, 59, 1);
      }
      
      .alert.alert-error {
        background-color: rgba(248, 215, 218, 1);
        border-color: rgba(220, 53, 69, 1);
        color: rgba(114, 28, 36,1);
      }
  </style>
  <style>
    .navbar{
         display: flex;
         flex-direction: row;

    }
    .title{
        width: 40%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        font-size: 1.3rem;
        font-weight: 600;
        color: rgb(98, 192, 230);

    }
</style>
  <script>
    setTimeout(function() {
        $('#mydiv').fadeOut('fast');
    }, 3000); // <-- time in milliseconds
  </script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <body >
    <br>
    <div class="navbar" style="border-bottom: 1px black solid;">
      <a href="cards.html" class="brand-logo">
          <img class="logo-abbr" width="50px" height="50px" src="{% static 'images/ints.jpg' %}" alt="" style="margin: auto;">
          <!-- <img class="logo-compact" src="./images/logo-text.png" alt="">
          <img class="brand-title" src="./images/logo-text.png" alt=""> -->
      </a>
      <div class="title">
         <a href="{% url 'dashboard' %}"><div>Home</div></a> 
          <div> Our Team</div>
          <a href="{% url 'logout' %}" onclick="return confirm('Hey {{fn}}, Are you sure to logout ?');"><div> Logout</div></a> 
          <div> Hello {{fn}}</div>
      </div>
  

  </div>
    <div class="error-text">
      <!-- errors will be get displayed here  -->
      {% for i in messages %}
          <div class="alert alert-{{i.tags}}" id="mydiv" role="alert">{{i}}</div>
      {% endfor %}
    </div>
        <div class="box-1">
          <section class="course-details">
            <div class="image-box"> 
              <img src="{% static 'images/webdev.jpg' %}">
            </div>
            <div class="course-info">
              <h5>Domain : {{sig.sigdomain}}</h5>
              <div style="margin-top: 1rem;">
                <h3>{{sig.signame}}</h3>
                {{sig.sigdesc}}
                <br><br>
                <h5> Mentor</h5>
                  {% for j in user %}
                    {% if j.id in sig.mentor %}
                      {{j.first_name}} {{j.last_name}}
                    {% endif %} 
                  {% endfor %}
                <br><br>
                <h5> Date of start</h5>
                  {{sig.date}}
                <!-- <h5> Time </h5>
                 12 hours (4 hours per week)
                 <br> -->
              </div>
            </div>
          </section>
          <div class="line"></div>
          <section>
         
            <!-- Tabs -->
            <section id="tabs">
                <div class="container">
                    <div class="row">
                        <div class="col-xs-12 ">
                            <nav>
                                <div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
                                    <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true" style="color: grey;">Course content</a>
                                    <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false" style="color: grey;">Classroom</a>
                                    <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false" style="color: grey;">Task</a>
                                    <a class="nav-item nav-link" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false" style="color: grey;">Announcement</a>
                                </div>
                            </nav>
                            <div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
                                <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
                                  
                                  {% if uid in sig.mentor or role == 'Superadmin' %}
                                    <button type="button" class="btn btn-primary addbuttoncontent" data-toggle="modal" data-target="#exampleModalCenter">
                                      Add
                                    </button>
                                    {% endif %}
                                    <!-- Modal -->
                                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                      <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                          <form action="{% url 'addcc' %}" method="post">
                                            {% csrf_token %}
                                          <div class="modal-body modal-content">
                                            <br>
                                            <label class="formlabel">Content Title</label>
                                            <br>
                                            <input class="forminput" name="title" type="text" placeholder="Content Title">
                                            <br>
                                            <label class="formlabel">Content Description</label>
                                            <br>
                                            <input class="forminput" name="desc" type="text" placeholder="Content Description">
                                            <br>
                                            <label class="formlabel">Links</label>
                                            <br>
                                            <input class="forminput" name="links" type="text" placeholder="Links">
                                            <input type="text" name="id" style="display: none;" value="{{id}}">
                                            <br>
                                          </div>
                                          <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                            <button type="submit" class="btn btn-primary">Save</button>
                                            </form>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                    <div class="accordion accordion-flush" id="accordionFlushExample">
                                      {% for i in cc %}
                                      {% if i.belongs == id %}
                                        <div class="accordion-item accordbox">
                                          <h2 class="accordion-header" id="flush-heading{{i.id}}">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse{{i.id}}" aria-expanded="false" aria-controls="flush-collapse{{i.id}}">
                                              {{i.title}}
                                            </button>
                                          </h2>
                                          <div id="flush-collapse{{i.id}}" class="accordion-collapse collapse" aria-labelledby="flush-heading{{i.id}}" data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">{{i.desc}} <br>
                                               <a href="{{i.links}}" target="_blank" rel="noopener noreferrer">{{i.links}}</a> 
                                              </div>

                                          </div>
                                        </div>
                                        <div class="line"></div>
                                        {% endif %}
                                        {% endfor %}
                                        <!-- <div class="accordion-item accordbox">
                                          <h2 class="accordion-header" id="flush-headingTwo">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                                              Tags
                                            </button>
                                          </h2>
                                          <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the second item's accordion body. Let's imagine this being filled with some actual content.</div>
                                          </div>
                                        </div>
                                        <div class="line"></div>
                                        <div class="accordion-item accordbox">
                                          <h2 class="accordion-header" id="flush-headingThree">
                                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                                              Selector
                                            </button>
                                          </h2>
                                          <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
                                            <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                                          </div>
                                        </div>
                                        <div class="line"></div>
                                        <div class="accordion-item accordbox">
                                            <h2 class="accordion-header" id="flush-headingFour">
                                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseFour">
                                                Html comment
                                              </button>
                                            </h2>
                                            <div id="flush-collapseFour" class="accordion-collapse collapse" aria-labelledby="flush-headingFour" data-bs-parent="#accordionFlushExample">
                                              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                                            </div>
                                          </div>

                                          <div class="line"></div>
                                          <div class="accordion-item accordbox">
                                            <h2 class="accordion-header" id="flush-headingFive">
                                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseFive">
                                                Html favicon
                                              </button>
                                            </h2>
                                            <div id="flush-collapseFive" class="accordion-collapse collapse" aria-labelledby="flush-headingFive" data-bs-parent="#accordionFlushExample">
                                              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                                            </div>
                                          </div>
                                          <div class="line"></div>
                                          <div class="accordion-item accordbox">
                                            <h2 class="accordion-header" id="flush-headingSix">
                                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseSix">
                                                Html list
                                              </button>
                                            </h2>
                                            <div id="flush-collapseSix" class="accordion-collapse collapse" aria-labelledby="flush-headingSix" data-bs-parent="#accordionFlushExample">
                                              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                                            </div>
                                          </div>
                                          <div class="line"></div> -->
                                          <!-- <div class="accordion-item accordbox">
                                            <h2 class="accordion-header" id="flush-headingSeven">
                                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseSeven">
                                                Html Table
                                              </button>
                                            </h2>
                                            <div id="flush-collapseSeven" class="accordion-collapse collapse" aria-labelledby="flush-headingSeven" data-bs-parent="#accordionFlushExample">
                                              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                                            </div>
                                          </div>
                                          <div class="line"></div>
                                          <div class="accordion-item accordbox">
                                            <h2 class="accordion-header" id="flush-headingEight">
                                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseEight">
                                                Html Images
                                              </button>
                                            </h2>
                                            <div id="flush-collapseEight" class="accordion-collapse collapse" aria-labelledby="flush-headingEight" data-bs-parent="#accordionFlushExample">
                                              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                                            </div>
                                          </div>
                                          <div class="line"></div>
                                          <div class="accordion-item accordbox">
                                            <h2 class="accordion-header" id="flush-headingNine">
                                              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseNine">
                                                Html links
                                              </button>
                                            </h2>
                                            <div id="flush-collapseNine" class="accordion-collapse collapse" aria-labelledby="flush-headingNine" data-bs-parent="#accordionFlushExample">
                                              <div class="accordion-body">Placeholder content for this accordion, which is intended to demonstrate the <code>.accordion-flush</code> class. This is the third item's accordion body. Nothing more exciting happening here in terms of content, but just filling up the space to make it look, at least at first glance, a bit more representative of how this would look in a real-world application.</div>
                                            </div>
                                          </div>
                                          <div class="line"></div> -->
                                      </div>
                                </div>
                                <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
                                    <button class="addbutton" onclick="openaddmodal()">
                                        <span> &#43</span>
                                      </button>
                                      <div class="addmodal" id="addmodal">
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal1">
                                            Add 
                                            <br>
                                            Topic
                                        </button>
                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal2">
                                            Add
                                            <br>
                                            Material
                                        </button>
                                        
                                     </div>
                                    
                                   {% for i in cl %}
                                   {% if i.sigid == id %}
                                    <div class="card position-relative">
                                        <div class="card-header">
                                            <h5 class="card-heading" >{{i.title}}</h5>
                                            <div class="classroom-dot-menu">
                                              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-fill renameedit" viewBox="0 0 16 16" style="margin-right:15%;" >
                                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                              </svg>
                                              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash renameedit" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                              </svg>
                                                
                                                  <div class="dropdown" id="dropdown">
                                                    <div id="myDropdown" class="dropdown-content">
                                                      <button class="dropdown-close" onclick="closedropdown()">&#9747;</button>
                                                        <div id="dropdown-rename"> Rename</div>
                                                       <div id="dropdown-delete"> Delete</div>
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                        <div class="card-body">
                                          Description : {{i.desc}}
                                          <ul>
                                            <li> 
                                              <details>
                                                <summary> --- Attachment ---</summary>
                                              <p>
                                                <p>Open a PDF file <a href="/static/pdf/1.1 Operator.pdf" target="_blank">example</a>.</p>
                                              </p>
                                                
                                            </details>
                                            
                                            </li>
                                            <!-- <li> Html attributes cheetsheet</li>
                                            <li> Html tags cheetsheet</li>
                                            <li>  Html attributes cheetsheet</li> -->
                                          </ul>
                                        </div>
                                    </div>
                                  {% endif %}
                                  {% endfor %}
                                    <!-- <div class="card position-relative">
                                        <div class="card-header">
                                            <h5 class="card-heading" >Featured</h5>
                                            <div class="classroom-dot-menu">
                                              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-fill renameedit" viewBox="0 0 16 16" style="margin-right:15%;" >
                                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                              </svg>
                                              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash renameedit" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                              </svg>
                                              
                                              
                                                
                                                  <div class="dropdown" id="dropdown">
                                                    <div id="myDropdown" class="dropdown-content">
                                                      <button class="dropdown-close" onclick="closedropdown()">&#9747;</button>
                                                        <div id="dropdown-rename"> Rename</div>
                                                        <div id="dropdown-delete"> Delete</div>
                                                    </div>
                                                  </div>
                                              </div>
                                            </div>
                                        <div class="card-body">
                                          <ul>
                                            <li> Html tags cheetsheet</li>
                                            <li> Html attributes cheetsheet</li>
                                            <li> Html tags cheetsheet</li>
                                            <li>  Html attributes cheetsheet</li>
                                          </ul>
                                        </div>
                                    </div>
                                    <div class="card position-relative">
                                        <div class="card-header">
                                            <h5 class="card-heading" >Featured</h5>
                                            <div class="classroom-dot-menu">
                                              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-pencil-fill renameedit" viewBox="0 0 16 16" style="margin-right:15%;" >
                                                <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                                              </svg>
                                              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-trash renameedit" viewBox="0 0 16 16">
                                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                                              </svg>
                                                
                                                  <div class="dropdown" id="dropdown">
                                                    <div id="myDropdown" class="dropdown-content">
                                                      <button class="dropdown-close" onclick="closedropdown()">&#9747;</button>
                                                        <div id="dropdown-rename"> Rename</div>
                                                        <div id="dropdown-delete"> Delete</div>
                                                    </div>
                                                  </div>
                                                </div>
                                            </div>
                                        <div class="card-body">
                                          <ul>
                                            <li> Html tags cheetsheet</li>
                                            <li> Html attributes cheetsheet</li>
                                            <li> Html tags cheetsheet</li>
                                            <li>  Html attributes cheetsheet</li>
                                          </ul>
                                    </div>
                                  </div> -->
                                  <!-- Button trigger modal -->
                                
                                  <!-- Button trigger modal -->
                                  <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <div class="modal-content">
                                        <div class=" modal-content">
                                          <label class="formlabel">Topic Name</label>
                                          <br>
                                          <input class="forminput"  type="text" placeholder="Topic Name">
                                          <br>
                                         
                                        </div>
                                       
                                        <div class="modal-footer">
                                          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                          <button type="sumbit" class="btn btn-primary">Submit</button>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <!-- Button trigger modal -->
                                  

                                  <!-- Modal -->
                                  <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                      <form action="{% url 'addcl' %}" method="post">
                                        {% csrf_token %}
                                      <div class=" modal-content">
                                        <br>
                                        <input type="text" value="{{id}}" name="id" style="display: none;">
                                        <label class="formlabel">Add Topic</label>
                                        <br>
                                        <input class="forminput" name="topicname" type="text" placeholder="Add Topic">
                                        <br>
                                        <label class="formlabel">Topic Description</label>
                                        <br>
                                        <input class="forminput" name="topicdesc" type="text" placeholder="Topic Description">
                                        <br>
                                        <button type="button" class="btn btn-primary" style="width: 50%; justify-self: center; align-self: center;">Choose file</button>
                                        <br>
                                        <div class="modal-footer">
                                          
                                          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                                          <button type="submit" class="btn btn-primary">Save changes</button>
                                        
                                        </div>
                                      </form>
                                      </div>
                                      </div>
                                    </div>
                        
                                  
                                
                                  
                                  
                                </div>
                                <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
                                  Add task here

                                </div>
                                   
                                <div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">

                                  <div class="announce-container">
                                    <div class="admin-head">
                                      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-reddit" viewBox="0 0 16 16">
                                        <path d="M6.167 8a.831.831 0 0 0-.83.83c0 .459.372.84.83.831a.831.831 0 0 0 0-1.661zm1.843 3.647c.315 0 1.403-.038 1.976-.611a.232.232 0 0 0 0-.306.213.213 0 0 0-.306 0c-.353.363-1.126.487-1.67.487-.545 0-1.308-.124-1.671-.487a.213.213 0 0 0-.306 0 .213.213 0 0 0 0 .306c.564.563 1.652.61 1.977.61zm.992-2.807c0 .458.373.83.831.83.458 0 .83-.381.83-.83a.831.831 0 0 0-1.66 0z"/>
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.828-1.165c-.315 0-.602.124-.812.325-.801-.573-1.9-.945-3.121-.993l.534-2.501 1.738.372a.83.83 0 1 0 .83-.869.83.83 0 0 0-.744.468l-1.938-.41a.203.203 0 0 0-.153.028.186.186 0 0 0-.086.134l-.592 2.788c-1.24.038-2.358.41-3.17.992-.21-.2-.496-.324-.81-.324a1.163 1.163 0 0 0-.478 2.224c-.02.115-.029.23-.029.353 0 1.795 2.091 3.256 4.669 3.256 2.577 0 4.668-1.451 4.668-3.256 0-.114-.01-.238-.029-.353.401-.181.688-.592.688-1.069 0-.65-.525-1.165-1.165-1.165z"/>
                                      </svg>
                                      <div style="margin: 0% 2%; font-weight: 700;">
                                       {{an.by}}
                                      </div>
                                    </div>
                                    <div class="announce">
                                      {{an.announcement}}
                                      </div>

                                      <!-- <div class="student">
                                        <div class="admin-head">
                                          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-reddit" viewBox="0 0 16 16">
                                            <path d="M6.167 8a.831.831 0 0 0-.83.83c0 .459.372.84.83.831a.831.831 0 0 0 0-1.661zm1.843 3.647c.315 0 1.403-.038 1.976-.611a.232.232 0 0 0 0-.306.213.213 0 0 0-.306 0c-.353.363-1.126.487-1.67.487-.545 0-1.308-.124-1.671-.487a.213.213 0 0 0-.306 0 .213.213 0 0 0 0 .306c.564.563 1.652.61 1.977.61zm.992-2.807c0 .458.373.83.831.83.458 0 .83-.381.83-.83a.831.831 0 0 0-1.66 0z"/>
                                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.828-1.165c-.315 0-.602.124-.812.325-.801-.573-1.9-.945-3.121-.993l.534-2.501 1.738.372a.83.83 0 1 0 .83-.869.83.83 0 0 0-.744.468l-1.938-.41a.203.203 0 0 0-.153.028.186.186 0 0 0-.086.134l-.592 2.788c-1.24.038-2.358.41-3.17.992-.21-.2-.496-.324-.81-.324a1.163 1.163 0 0 0-.478 2.224c-.02.115-.029.23-.029.353 0 1.795 2.091 3.256 4.669 3.256 2.577 0 4.668-1.451 4.668-3.256 0-.114-.01-.238-.029-.353.401-.181.688-.592.688-1.069 0-.65-.525-1.165-1.165-1.165z"/>
                                          </svg>
                                          <div style="margin: 0% 2%; font-weight: 700;">
                                           Elon Musk
                                          </div>
                                        </div>
                                        <input type="text" placeholder="add your comment" style="margin-left:5% ;">
                                        <button "> Submit</button>
                                      </div>
                                      
                                      <div class="last-comment">
                                          <div>
                                            <div class="admin-head">
                                              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-reddit" viewBox="0 0 16 16">
                                                <path d="M6.167 8a.831.831 0 0 0-.83.83c0 .459.372.84.83.831a.831.831 0 0 0 0-1.661zm1.843 3.647c.315 0 1.403-.038 1.976-.611a.232.232 0 0 0 0-.306.213.213 0 0 0-.306 0c-.353.363-1.126.487-1.67.487-.545 0-1.308-.124-1.671-.487a.213.213 0 0 0-.306 0 .213.213 0 0 0 0 .306c.564.563 1.652.61 1.977.61zm.992-2.807c0 .458.373.83.831.83.458 0 .83-.381.83-.83a.831.831 0 0 0-1.66 0z"/>
                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.828-1.165c-.315 0-.602.124-.812.325-.801-.573-1.9-.945-3.121-.993l.534-2.501 1.738.372a.83.83 0 1 0 .83-.869.83.83 0 0 0-.744.468l-1.938-.41a.203.203 0 0 0-.153.028.186.186 0 0 0-.086.134l-.592 2.788c-1.24.038-2.358.41-3.17.992-.21-.2-.496-.324-.81-.324a1.163 1.163 0 0 0-.478 2.224c-.02.115-.029.23-.029.353 0 1.795 2.091 3.256 4.669 3.256 2.577 0 4.668-1.451 4.668-3.256 0-.114-.01-.238-.029-.353.401-.181.688-.592.688-1.069 0-.65-.525-1.165-1.165-1.165z"/>
                                              </svg>
                                              <div style="margin: 0% 2%; font-weight: 700;">
                                                  Elon musk
                                              </div>
                                              
                                            </div>
                                            
                                                dfhfkdj jkhfdjhfjdkfhehfuiereh jhdf ueihr hj ahfuieyr dhfheiurhuiyrehr hf
                                                fdfhjh ur hfhdhfjdfhieu hjkjhuie hah
                                            
                                          </div>
                                          <div>
                                            <div class="admin-head">
                                              <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-reddit" viewBox="0 0 16 16">
                                                <path d="M6.167 8a.831.831 0 0 0-.83.83c0 .459.372.84.83.831a.831.831 0 0 0 0-1.661zm1.843 3.647c.315 0 1.403-.038 1.976-.611a.232.232 0 0 0 0-.306.213.213 0 0 0-.306 0c-.353.363-1.126.487-1.67.487-.545 0-1.308-.124-1.671-.487a.213.213 0 0 0-.306 0 .213.213 0 0 0 0 .306c.564.563 1.652.61 1.977.61zm.992-2.807c0 .458.373.83.831.83.458 0 .83-.381.83-.83a.831.831 0 0 0-1.66 0z"/>
                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.828-1.165c-.315 0-.602.124-.812.325-.801-.573-1.9-.945-3.121-.993l.534-2.501 1.738.372a.83.83 0 1 0 .83-.869.83.83 0 0 0-.744.468l-1.938-.41a.203.203 0 0 0-.153.028.186.186 0 0 0-.086.134l-.592 2.788c-1.24.038-2.358.41-3.17.992-.21-.2-.496-.324-.81-.324a1.163 1.163 0 0 0-.478 2.224c-.02.115-.029.23-.029.353 0 1.795 2.091 3.256 4.669 3.256 2.577 0 4.668-1.451 4.668-3.256 0-.114-.01-.238-.029-.353.401-.181.688-.592.688-1.069 0-.65-.525-1.165-1.165-1.165z"/>
                                              </svg>
                                              <div style="margin: 0% 2%; font-weight: 700;">
                                                Bill Gates
                                              </div>
                                              
                                            </div>
                                            
                                              dkjdjf djf djfiehjrifh djfh hjh eh jhfjksahfu euih jkdh fuhfuie fhfhiued
                                              fhsdf uehriw jk hdkfy ueirhy eh hfuihgew hgfhgwurhuihfdkfd
                                          </div>
                                      </div>

                                  </div> -->


                                </div>
                                    
                            </div>
                        
                        </div>
                    </div>
                </div>
            </section>


          </section>
          
        </div>
       
        
        




     
 
   
    </div>
    
    <script src="{% static 'javascript/sigpage2.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
  </body>
</html>