html{
    font-size: 10px;
    font-size: 62.2%;
    font-size: 1rem;
    
}
.home-content{
   display: flex;
   flex-direction: row;
}
.box-1{
    width: 100%;
    
}
.box-2{
    width: 0%;
  /*  border: 2px red solid; */
}
#para{
    width: 90%;
}
.course-details{
    display: flex;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
}
.image-box{
    width: 20%;
    height: 20%;
    margin: 6%;
}
.image-box img{
    width: 100%;
    height: 100%;

}
.course-info{
    margin:1rem 3rem 2rem 0rem
}

.line{
    width: 100%;
    background-color: black;
    height: 2px;
    color: black;
}

/*
.navigation button:hover{
 
}*/
.accordbox{
    margin: 0% 0%;
}
.addbuttoncontent{
    border: 1px black solid;
    height: 2.5rem;
    width: 4rem;
    border-radius: 10%;
    position: absolute;
    bottom: 40%;
    right: 4%;
    font-size: 0.7rem;
    text-align: center;
    color: cornsilk;
    align-content: center;
    background-color: rgb(74, 40, 226);
    font-weight: 900;
}
.line{
    width: 100%;
    color: #000;
    height: 0.05rem;
    margin-bottom: 1%;
}
.content{
    display: none;
}
.active{
    color: black !important;          
}
section {
    padding: 0 0;
    
}

#tabs{
	background: white;
    color: blue;
}
#tabs h6.section-title{
    color: #eee;
}

#tabs .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: black;
    background-color: transparent;
    border-color: transparent transparent #f3f3f3;
    border-bottom: 4px solid !important;
    font-size: 20px;
    font-weight: bold;
}
#tabs .nav-tabs .nav-link {
    border: 1px solid transparent;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #eee;
    font-size: 20px;
}
.card:hover{
  
    box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.75);

}

.content-box{
    width: 80%;
    height: 40%;
    padding: 0px;
    box-shadow: 5px 10px 18px #888888;
    border: 8px whitesmoke solid;
    margin:0% 3%;   
}
.content-box:hover{
    background-color: rgb(240, 238, 238)
}

.header{
    width: 100%;
    background-color: #0d77b6 !important;
    height: 60px;
    border: 4px yellow solid;
    
}

.showLeft{
    background-color: #0d77b6 !important;
    border:1px solid #0d77b6 !important;
    text-shadow: none !important;
    color:#fff !important;
    padding:10px;
}

.icons li {
    background: none repeat scroll 0 0 #fff;
    height: 7px;
    width: 7px;
    line-height: 0;
    list-style: none outside none;
    margin-right: 15px;
    margin-top: 3px;
    border-radius:50%;
    pointer-events: none;
}


.btn-left {
    left: 10em;
}

.btn-right {
    right: 10em;
}


.dropbtn {
    background-color: #4CAF50;
    position: fixed;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

.dropdown {
    position: absolute;
    display: inline-block;
    right: 0.4em;
}

.dropdown-content {
    display: none;
    position: relative;
    margin-top: 60px;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.newdot{
    border: 3px yellow solid;

}
.content-element-list li{
    padding-top: 1%;
    padding-bottom: 0.5%;
}
.card-heading{
    font-size: 1.5rem;
}
.card{
    height: auto;
    width: 60rem;
    margin: 2% 0%;
    position: relative;
}
.renameedit:hover{
    cursor: pointer;

    
}

.classroom-dot-menu{
    
   width: 28%;
   display: flex;
   align-content: flex-end;
   justify-content: flex-end;
   justify-self:flex-end;
   margin-left: 70%;
   
}
.test:after {
    content: '\2807';
    font-size: 30px;
}
.dropbtn {
    background-color: #4CAF50;
    position: fixed;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}
#dropdown{
   display:box;
}
.dropdown {
    position: absolute;
}
.dropdown-close{
    margin-left: 80%;
}
.dropdown-content {
    position: relative;
    height: 30%;
    width: 30%;
    border: 3px #2697FF solid;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 5px 10px 18px #888888;
    padding: 0.5% 1%;
    border-radius: 2%;
    z-index: 1;
    color: black;
}
#dropdown-close{
    height: 0.5%;
    width: 1%;
}
.dropdown-content div {
    color: black;
    padding: 5% 10%;
    text-decoration: none;
    display: block;
}
.dropdown a:hover {background-color: #f1f1f1}
.show {display:block;}


.dropdown a:hover {background-color: #f1f1f1}

.show {display:block;}
.card-header{
    display: flex;
    flex-direction: row;

}
.addbutton{
    border: 0.3rem #2697FF solid;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    position: fixed;
    bottom: 10%;
    right: 4%;
    font-size: 2rem;
    text-align: center;
    color: purple;
    align-content: center;
    background-color: white;
    font-weight: 900;
}
.addmodal{
    
    display: none;
    height: 18%;
    width: 5%;
    position: fixed;
    bottom: 20%;
    right: 3.5%;
    border-radius: 10%;
    
    font-size: 1rem;
    font-weight: 650;
}

.addmodal button{
    width: 100%;
    margin-top: 10%;
    border: 0.15rem #2697FF solid;
    color: #2697FF;;

    background-color: white;
    text-align: center;
    

}
.modal-content{
    height: auto;
    width: 30rem;
    
    padding: 0%;
}
.formlabel{
    margin-left: 1rem;
    margin-bottom: 0rem;
    font-size: 1rem;
}
.forminput{
    padding: 2%;
    margin-left: 1rem;
    width: 23rem;
    height: 3rem;
    border: 1px red solid;
    border-radius: 1rem;
}

.cardself{
    position: relative;
    height: 23rem;
    width: 100%;
    background-color: white;
}
.announce-container{
    display: flex;
    flex-direction: column;
   
}
.admin-head{
    display: flex;
    flex-direction: row;
    padding: 1%;
    margin: 0%;
    justify-content: flex-start;
   
}
.announce{
    margin-left:5% ;
}
.last-comment{
   margin-left: 6%;
    
}
.student button{
    background-color: blue;
}

@media  screen and (max-width: 1246px) {
    html{
        font-size: 60%;
    }
}
@media screen and (max-width: 1138px) {
    html{
        font-size: 85%;
    }
}

@media screen and (max-width: 998px) {
    html{
        font-size:80%;
    }
}
@media screen and(max-width: 878px){
    html{
        font-size: 80%;
    }
}
@media screen and (max-width: 768px) {
    html{
        font-size:75%;
    }
    .navigation{
        flex-direction: column;
        align-content: flex-start;
    }
  }
@media screen and (max-width: 598px) {
    html{
        font-size: 70%;
    }
    
    .box-1{
        width: 100%;
    }
    .box-2{
        width: 0rem;
    }
    .track-column{
        width: 50rem;
    }
}
@media screen and (max-width: 498px) {
    html{
        font-size: 65%;
    }
    
    .box-1{
        width: 100%;
    }
    .box-2{
        width: 0rem;
    }
    
}
@media screen and (max-width:  420px) {
    html{
        font-size: 60%;
    }
}
@media  screen and (max-width: 348px) {
    html{
        font-size: 55%;
    }
}
@media  screen and (max-width: 360px) {
    html{
        font-size: 50%;
        margin-top: 3rem;
        
    }
    
}
